.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* color: white; */
  background-image: linear-gradient(79deg, #2196f3, #e9ebdd 48%, #4dabf7);
  /* background-image: linear-gradient(79deg, #2196f3, #5d5e57 48%, #f7944d); */
  /* background: rgba(0, 0, 0, 0.85); */
}

.auth-form-container,
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    width: 400px;
    background: white;
    box-shadow: 5px 0 30px rgba(1, 41, 112, 0.08);
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  outline-width: 0;
  margin: 0.5rem 0;
  padding: 0.9rem;
  border-radius: 7px;
  background-color: #4dabf72c;
}

button {
  border: none;
  background-color: #2196f3;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-size: larger;
  width: 200px;
  margin: 20px auto auto;
}
.btn-modal{
  border: none;
  background-color: #2196f3;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-size: larger;
  width: 150px;
  margin: 20px auto auto;
  text-align: "center",

}
.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-btn {
  cursor: pointer;
  background: none;
  color: #2196f3;
  text-decoration: underline;
  font-weight: 600;
}

.password-strength-bar {
  height: 2px;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

img {
  width: 90px;
  height: 90px;
}
.logo {
  display: flex;
  color: #2196f3;
  margin: auto;
}
.logo > h1 {
  font-weight: 900;
}
input:invalid {
  border-color: #ff0000;
}

input:valid {
  border: none;
}

/* Style the error message below the input */
/* input:invalid + p {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
} */
input:required {
  border: none;
}
.error {
  border-color: red;
}